# core
python-telegram-bot==21.3
aiohttp==3.10.11
beautifulsoup4==4.12.3

# env
python-dotenv==1.0.1
python-dateutil==2.9.0

# migrations
yoyo-migrations==9.0.0
psycopg2==2.9.10

# metrics
prometheus-client==0.21.1
prometheus-summary==0.1.2

# database
psycopg==3.2.3
psycopg-pool==3.2.4

#crypto
pycryptodome==3.20.0
